<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordora</title>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link rel="stylesheet" href="/stylesheet/createBlog.css">

</head>

<body>
    <header>

        <nav>

            <div class="logo">
                <h1>Wordora</h1>
            </div>

        </nav>
        </navbar>
    </header>

    <section class="create_blog">
        <div class="back-btn">

            <a href="/admin/dashboard"><button type="button" class="back-btn">Back Button</button></a>
        </div>
        <div class="create-blog-container">
            <h2>Update This Blog Post</h2>
            <form class="create-blog-form" action="/admin/dashboard/edit/<%= blog.id %>" method="POST">
                <div class="blog-details">

                    <label for="title">Blog Title:</label>
                    <input type="text" id="title" name="title" value="<%= blog.title %>" required>

                    <label for="category">Category:</label>
                    <input type="text" id="category" name="category" value="<%= blog.category %>" required>

                </div>
                <label for="description">Description:</label>
                <textarea id="description" name="description" rows="5" required><%= blog.metaDescription %></textarea>
                <label for="keyword">Keywords:</label>
                <textarea id="keyword" name="keyword" rows="5" required><%= blog.metaKeyword %></textarea>
                <textarea hidden id="content" name="content"><%- blog.content %></textarea>
                <input type="hidden" name="image" id="imageUrl" value="<%= blog.imageUrl %>">

                <div id="editor">

                </div>
                <!-- <button type="button" id="publish">save</button> -->

                <button type="submit" class="submit-btn" id="publish">Update</button>
            </form>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <script src="/script/quilleditor.js"></script>
    <script src="/script/editBlog.js"></script>



</body>

</html>