<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your hub for tech insights, blogs and futuristic ideas.">
    <meta name="keywords" content="RSantoshX,santoshx, Future Blogs, tech Insights, santosh,santosh, SantoshX, RSantosh, rsantosh,ai blog, latest blog, blogging website, ai & future trends, Tech Blogs, Technology, Programming, Software Development, Tech News, Coding, Future Tech, Tech Reviews">
    <meta property="og:site_name" content="RSantoshX" />
    <title>RSantoshX: Tech Insights, Blogs & Futuristic Ideas</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link rel="stylesheet" href="/stylesheet/my_blog.css">
</head>
<body>

    <header>
            <nav>

                <div class="logo">
                    <img src="/image/logo.png" alt="logo-image" class="logo-image">
                    <h1>RSantosh<span>X</span></h1>
                </div>
                <input type="checkbox" id="menu-toggle" style="display: none;">
                <label for="menu-toggle" class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
                <div class="nav-link menu">
                    <a href="/">Home</a>
                    <a href="/blog">Blog</a>
                    <a href="/about">About</a>
                    <a href="/privacy-policy">Privacy</a>
                    <a href="/contact">Contact</a>
                </div>
            </nav>
        </navbar>
    </header>

    <section class="home-sec">
        <div class="home">
            <div class="box" id="img1">
                <img src="https://res.cloudinary.com/dn2cdy2ea/image/upload/v1771853797/computer-usage_ng0oyk_lkptfe.jpg" alt="computer-usage" >
            </div>
            <div class="box" id="img2">
                <img src="https://res.cloudinary.com/dn2cdy2ea/image/upload/v1771853943/stylish-computer-setup_rbz9no_hetfgp.jpg" alt="stylish-computer-setup"  >
            </div>
            <div class="box" id="img3">
                <img src="https://res.cloudinary.com/dn2cdy2ea/image/upload/v1771854106/reading-book_lp8dw3_mzzjh2.jpg" alt="reading-book">
            </div>
        </div>

    </section>


    <section class="featured-sec">
        <div class="featured">
            <div style="background: url('<%= blog[featured].imageUrl %>')no-repeat center center; background-size: cover;
    overflow: hidden;
    object-fit: cover;" class="image" >

            </div>
            <div class="desc">
                <div class="stories-style">
                    <p>Features Style</p>
                </div>
                <div class="title"><h2>
                  <%= blog[featured].title %>
                </h2></div>
                <div class="blog-fp" id="featBlogDes"><p>
                   <%=  blog[featured].metaDescription  %>
                </p></div>
                <a href="/blog/<%= blog[featured].slug %>"><button type="button" class="read-more">Read Full Blog</button></a>
            </div>
        </div>
    </section>

    <section class="blog-sec">
        <div id="article-upper">
            <h3>Latest Articles</h3>
            <a href="/blog"><button type="button" class="read-more">All Posts-></button></a>
        </div>

        
        
        <div class="article">
            <% for( let index = 0; index < Math.min(blog.length, 6); index++ ) { %>
            <div class="blogs-card">
                <div class="img-blog">
                    <img src="<%= blog[index].imageUrl %>" alt="<%= blog[index].title %>">
                </div>
                <div class="blog-card-content">
                    <span class="blog-category"><%= blog[index].category %></span>

                    <h2 class="blog-title">
                        <%= blog[index].title %>
                    </h2>

                    <p class="blog-excerpt">
                        <%= blog[index].metaDescription %>
                        
                    </p>

                    <div class="blog-footer">
                        <span class="blog-date"><%= blog[index].Date.toDateString() %></span>
                        <a href="/blog/<%= blog[index].slug %>" class="read-more">Read Article →</a>
                    </div>
                </div>
            </div>
            
            
            <% } %>
        </div>
    </section>

    <section class="feedback-sec">
        <div class="feedback">
            <form action="/feedback" method="post">
                <div class="fullN">
                    <div class="partN">

                        <label for="firstname">First Name</label>
                        <input type="text" name="firstName" id="firstname" >
                    </div>
                    <div class="partN">
                        
                        <label for="lastname">Last Name</label>
                        <input type="text" name="lastName" id="lastname" >
                    </div>
                </div>

                <div class="form-ele">

                    <label for="emailadd">Email</label>
                    <input type="email" name="email" id="emailadd" >
                </div>

                <div class="form-ele">

                    <label for="msg">Leave us a message...</label>
                    <textarea name="message" id="msg"></textarea>
                    
                </div>

                <div class="form-ele">
                    <button type="submit" class="submit">Submit</button>
                </div>

            </form>
        </div>
    </section>

    <footer class="footer">
    <div class="footer-wrapper">

        <div class="f-col brand">
            <div class="logo">
                <img src="/image/logo.png" alt="logo-image" class="logo-image">
                <h2>RSantosh<span>X</span></h2>
            </div>
            <p>Your hub for tech insights, blogs and futuristic ideas.</p>
        </div>

        <div class="f-col">
            <h4>Explore</h4>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blogs</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/privacy-policy">Privacy</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>

        <div class="f-col">
            <h4>Community</h4>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">GitHub</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
            </ul>
        </div>


    </div>

    <div class="footer-bottom">
        © 2025 RSantoshX — All rights reserved.
    </div>
</footer>
<script src="/script/blogCardHeight.js"></script>
<script src="/script/blogdescriptional.js"></script>

</body>
</html>